* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    /*background-color: #ecf1f8;*/
    background-color: #fff;
    color: #fafafa;
    font-family: 'roboto', sans-serif;
    -webkit-font-smoothing: antialiased !important;
}

.page-home {
    width: 97vw;
    height: 100%;
    margin: 10px auto;
    background-color: #3e6f55;
    border: 0;
}

a {
    text-decoration: none;
    color: #000;
}